<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tencent.wxcloudrun.dao.TaskMapper">
    <insert id="saveTask" parameterType="com.tencent.wxcloudrun.model.Task">
        INSERT INTO tasks (name, status, creator, deadLine)
        VALUES (#{name}, #{status}, #{creator}, #{deadLine})
    </insert>
</mapper>